<!DOCTYPE html>
<html>
<head>
    <title>View Score</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/ViewScore.css' %}">
</head>
<body>
    <h1>View Resume Scores</h1>
    <table border="1">
        <tr>
            <th>Username</th>
            <th>Job</th>
            <th>Resume Name</th>
            <th>Upload Date</th>
            <th>Score</th>
        </tr>
        {% for resume in resumes %}
        <tr>
            <td>{{ resume.username }}</td>
            <td>{{ resume.job.job_name }}</td>
            <td>{{ resume.resume_name }}</td>
            <td>{{ resume.upload_date }}</td>
            <td>{{ resume.resume_score }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'index' %}">Back to Home</a>
</body>
</html>

