body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    margin-top: 50px;
}

table {
    margin: 50px auto;
    border-collapse: collapse;
    width: 80%;
    text-align: left;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

a {
    display: block;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
